#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        engram {
            bindings = <
&trans      &kp N1  &kp N2  &kp N3  &kp N4    &kp N5         &trans                                                   &trans   &kp N6       &kp N7   &kp N8  &kp N9  &kp N0  &trans
&kp TAB     &kp B   &kp Y   &kp O   &kp U     &kp SQT        &trans                                                   &trans   &kp LS(DQT)  &kp L    &kp D   &kp W   &kp V   &kp Z
&kp ESCAPE  &kp C   &kp I   &kp E   &hrl 1 A  &kp COMMA      &trans     &kp LCTRL  &kp LALT      &kp RALT  &kp RCTRL  &trans   &kp DOT      &kp H    &kp T   &kp S   &kp N   &kp Q
&trans      &kp G   &kp X   &kp J   &kp K     &kp LS(UNDER)                        &trans        &trans                        &kp EQUAL    &kp R    &kp M   &kp F   &kp P   &trans
&kp LGUI    &trans  &trans  &trans  &kp BSPC                 &kp SPACE  &kp LSHFT  &trans        &trans    &kp LSHFT  &kp RET               &kp DEL  &trans  &trans  &trans  &kp LGUI
            >;
        };

        nav {
            bindings = <
&trans  &trans    &trans    &trans     &trans  &trans  &trans                                              &trans  &trans  &trans     &trans    &trans     &trans  &trans
&trans  &trans    &trans    &trans     &trans  &trans  &trans                                              &trans  &trans  &kp PG_UP  &kp UP    &kp PG_DN  &trans  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &trans  &trans  &trans          &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans    &trans    &trans     &trans  &trans                          &trans      &trans                  &trans  &kp HOME   &trans    &kp END    &trans  &trans
&trans  &trans    &trans    &trans     &trans          &kp LEFT_SHIFT  &trans  &trans      &trans  &trans  &trans          &trans     &trans    &trans     &trans  &trans
            >;
        };
    };
};
