#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "HRL";
            bindings = <&lt>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <50 49>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <55 56>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        engram {
            bindings = <
&kp EQUAL  &kp N1  &kp N2  &kp N3        &kp N4    &kp N5          &trans                                               &trans     &kp N6         &kp N7    &kp N8       &kp N9  &kp N0  &kp MINUS
&kp TAB    &kp B   &kp Y   &kp O         &kp U     &kp MINUS       &trans                                               &trans     &kp LS(DQT)    &kp L     &kp D        &kp W   &kp V   &kp Z
&kp ESC    &kp C   &kp I   &kp E         &hrl 2 A  &kp COMMA       &trans     &trans     &trans      &trans  &trans     &trans     &kp DOT        &hrl 1 H  &kp T        &kp S   &kp N   &kp Q
&kp LSHFT  &kp G   &kp X   &kp J         &kp K     &kp UNDERSCORE                        &trans      &trans                        &kp LS(EQUAL)  &kp R     &kp M        &kp F   &kp P   &kp RSHFT
&kp LGUI   &trans  &trans  &kp LC(BSPC)  &kp BSPC                  &kp SPACE  &kp LSHFT  &trans      &trans  &kp ENTER  &kp LSHFT                 &kp DEL   &kp LC(DEL)  &trans  &trans  &kp LGUI
            >;
        };

        sym2 {
            bindings = <
&trans  &kp F1            &kp F2             &kp F3                &kp F4                 &kp F5        &trans                                       &trans   &kp F6  &kp F7  &kp F8         &kp F9     &kp F10     &trans
&trans  &kp AT_SIGN       &kp EXCLAMATION    &kp LESS_THAN         &kp GREATER_THAN       &kp SLASH     &kp F11                                      &kp F12  &trans  &trans  &kp AMPERSAND  &kp PIPE   &kp DOLLAR  &trans
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS      &trans   &trans  &trans      &trans  &trans  &trans   &trans  &trans  &kp PERCENT    &kp TILDE  &kp GRAVE   &trans
&trans  &trans            &kp BACKSLASH      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp ASTERISK                   &trans      &trans                   &trans  &trans  &kp CARET      &trans     &trans      &trans
&trans  &trans            &trans             &trans                &trans                               &trans   &trans  &trans      &trans  &trans  &trans           &trans  &trans         &trans     &trans      &trans
            >;
        };

        nav2 {
            bindings = <
&trans  &trans        &trans        &trans     &trans  &trans  &trans                                          &trans  &trans  &trans     &trans    &trans     &trans  &trans
&trans  &trans        &trans        &trans     &trans  &trans  &trans                                          &trans  &trans  &kp PG_UP  &kp UP    &kp PG_DN  &trans  &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &trans  &trans  &trans      &trans  &trans      &trans  &trans  &trans  &trans  &kp LEFT   &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans        &trans        &trans     &trans  &trans                      &trans      &trans                  &trans  &kp HOME   &trans    &kp END    &trans  &trans
&trans  &trans        &trans        &trans     &trans          &kp LSHIFT  &trans  &trans      &trans  &trans  &trans          &trans     &trans    &trans     &trans  &trans
            >;
        };
    };
};
